body {
    background-color: #A5635A;
    font-family: 'Architects Daughter', cursive;
}

.button {
    text-shadow: 1px 1px 1px white;
    box-shadow: 3px 3px 3px black;
    background-color: #BA4578;
    padding: 30px 50px;
    font-weight: bold;
    font-size: 5em;
    font-family: 'Yellowtail', cursive;
}

#img {
    text-align: center;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px
}

form{
    margin: 15px;
    text-align: center;
    font-size: 2em;
}

.input1{
    margin: 10px;
}

#grid{
    display: flex;
    flex-direction: column;
}
